.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

.custom-button {
  background: linear-gradient(135deg, #5f0a87, #a4508b);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.custom-button:hover {
  background: linear-gradient(135deg, #a4508b, #5f0a87);
}
